$footer-height: 3em;
$footer-margin: -$footer-height;

.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $footer-margin;
}

html, body {
 height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block;
}

.footer, .wrapper-for-content-outside-of-footer:after {
  height: 17em;

  @include media($large-screen) {
    height: $footer-height;
  }
}

.footer {
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: $dark-blue;

  background: $footer-background;
  padding: $base-spacing / 2;
  width: 100%;
  display: inline-block;

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
    
    li {
      list-style: none;
      padding-right: 1em;
      letter-spacing: 1px;

      @include media($large-screen) {
        display: inline;
        text-align: left;
      }
      a {
        @include nav-font;
      }
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
