.sidebar {
  @include span-columns(2);
  height: auto !important;
  height: 100%;

  padding: $base-spacing;
  margin: 0 !important;
  background-color: $dark-gray;
  color: white;
  display: flex;
}
